source https://api.nuget.org/v3/index.json

nuget FSharp.Core

group Test
    source https://api.nuget.org/v3/index.json

    nuget xunit
    nuget xunit.runner.visualstudio
    nuget Microsoft.NET.Test.Sdk
